@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    --cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --dark-blue: hsl(212, 21%, 14%);
    --light-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --font1: 'Montserrat', sans-serif;
    --font2: 'Fraunces', serif;

    font-size: 14px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
    height: 500px;
    border-radius: 10px;
}

.card-1 {
    background-image: url("../images/image-product-desktop.jpg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-2 {
    padding: 30px;
}

.product-type {
    font-family: var(--font1);
    font-size: 1rem;
    color: var(--light-blue);
    padding: 0.8rem 0rem;
}

.product-title {
    font-family: var(--font2);
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: var(--dark-blue);
    padding: 1rem 0rem;
}

.product-description {
    font-family: var(--font1);
    font-size: 1rem;
    color: var(--light-blue);
    line-height: 1.7rem;
    padding: 0.8rem 0rem;
}

.product-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1.7rem;
    align-items: center;
}

.price-1 {
    color: var(--cyan);
    font-size: 2.5rem;
    font-family: var(--font2);
}

.price-2 {
    font-family: var(--font1);
    color: var(--light-blue);
    text-decoration: line-through;
    padding-left: 1.2rem;
}

.addToCartBtn {
    width: 240px;
    background-color: var(--cyan);
    font-family: var(--font1);
    color: var(--white);
    margin-top: 1.7rem;
    padding: 1.1rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer {
    font-family: var(--font1);
    color: var(--dark-blue);
    margin-top: 1.5rem;
}

footer a {
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 700;
}

/* Media Query */

@media (max-width: 600px) {
    .card-1 {
        grid-area: card-1;
        height: 250px;
        width: 375px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .card-2 {
        grid-area: card-2;
        height: 370px;
        width: 375px;
        padding: 25px;
    }
    
    .card {
        width: 375px;
        height: 620px;
        grid-template-areas: "card-1"
        "card-2";
    }

    .product-type {
        padding: 0.6px 0px;
    }

    .product-description {
        padding: 0.5rem 0rem;
    }

    .product-price {
        padding-top: 0.6rem;
    }

    .addToCartBtn {
        margin-top: 0.8rem;
        width: 330px;
        
    }

    footer {
        margin-top: 1.2rem;
        font-size: 0.8rem;
    }
}
